.advantages__wrapper--list {
  display: flex;
  color: @color-main;
  flex-direction: column;

  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper--list {
    flex-direction: row;
    justify-content: space-between;

    width: 620px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper--list {
    flex-direction: column;
  }
}