.advantages__wrapper--image {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.advantages__image {
  margin: 0 40px;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper--image {
    width: 268px;
    padding: 0;
  }

  .advantages__image {
    width: 268px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper--image {
    display: none;
  }
}