.advantages__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    width: 940px;
    margin: 0 auto;
  }
}