.advantages__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;  

  text-align: center;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    order: 2;
    width: 310px;
    margin-bottom: 0;
    padding-top: 73px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: flex;
  }
}