.advantages__wrapper--image {
  //Временно для сетки
  outline: 2px solid blue;
  background-color: rgba(46, 29, 43, 0.3);
  min-height: 277px;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper--image {
    width: 268px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper--image {
  //Временно для сетки
    min-height: 302px;
    width: auto;
  }
}