@color-main--light: #ffffff;  // дополнительный цвет(белый)
@color-main--dark: #1d2631; //основной цвет темнее
@color-main: #283645; // основной цвет

.advantages {
	background-color: @color-main--light;
	color: @color-main--dark;
}

.advantages__text {
	font-size: 24px;
	font-weight: 300;
	line-height: auto;
	color: @color-main;
}

advantages__image {
	width: 157px;
	height: 320px;
}