.advantages {
	background-color: @color-main--light;
	color: @color-main--dark;
}

.advantages__text {
	font-size: 24px;
	font-weight: 300;
	line-height: auto;
	color: @color-main;
}

advantages__image {
	width: 157px;
	height: 320px;
}