.advantages__wrapper--text {
  //Временно для сетки
  outline: 2px solid red;
  background-color: rgba(45, 225, 34, 0.3);
  min-height: 218px;  
}

@media (min-width: @tablet-width) {
  .advantages__wrapper--text {
    min-height: 244px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper--text {
    min-height: 324px;
  }
}



