@button-submit: #2aab6d; // Кнопка отправить форму зеленая
@color-main--light: #ffffff; // дополнительный цвет(белый)

.button__close {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	color: @color-main--light;
	text-transform: uppercase;
	text-align: center;

	background-color: @button-submit;
}