.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  //Временно для сетки

  outline: 2px dotted green;
  background-color: rgba(56, 7, 240, 0.3);
}

@media (min-width: 660px) {
  .container {
    width: 620px;
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
    padding: 0 130px;
  }
}