.contacts__item {
  margin-bottom: 24px;

  text-align: center;
}

.contacts__item:last-child {
  margin-bottom: 0;
}


@media (min-width: @tablet-width) {
  .contacts__item {
    width: 300px;
  }
}

@media (min-width: @tablet-width) {
  .contacts__item {
    margin-bottom: 47px;

    text-align: center;
  }

  .contacts__item:last-child {
  flex-grow: 1;
  padding: 0 200px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__item:last-child {
    padding: 0;
  }

  .contacts__item:nth-child(2) {
    order: 1;
  }
}