@color-hover: #d22856; // Цвет при нажатии (лого)

.contacts__title {
	font-size: 18px;
	font-weight: bold;
	line-height: auto;
}

.contacts__text {
	font-size: 24px;
	font-weight: 300;
	line-height: auto;
	color: @color-hover;
}