.download-app__wrapper {
  display: flex;
  flex-direction: column;

  width: 280px;
  padding: 28px 20px;
  margin: 0 auto;
  margin-top: 400px;
}

@media (min-width: @tablet-width) {
  .download-app__wrapper {
    width: 300px;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
  }
}
