.download-app {
  background-color: @color-main--dark;
  color: @color-main--light;
}

.download-app__button {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: @color-main--light;

  background-color: transparent;
}

.download-app__text {
  font-weight: 300;
}