.download-app__button {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 32px;

  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: @color-main--light;
  text-align: center;

  background-color: transparent;
}

@media (min-width: @desktop-width) {
  .download-app__button {
    margin-bottom: 67px;
  }
}