.download-app {
  color: @color-main--light;

  //Временно для сетки
  outline: 2px solid red;
  background-color: rgba(171, 42, 57, 0.3);
  min-height: 271px;
}

.download-app__button {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: @color-main--light;

  background-color: transparent;
}

.download-app__text {
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .download-app {
    width: 300px;
  }
}