.editor__button {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  text-align: center;

	background-color: transparent;
  border: none;
  border-width: 3px;
  border-style: solid;
  border-radius: 30px;
}

@media (min-width: @desktop-width) {
  .editor__button {
    width: 185px;
  }
}