.editor__wrapper--gray {
  display: flex;
  flex-direction: column;
  
  width: 280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .editor__wrapper--gray {
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
    padding-top: 57px;
    padding-bottom: 54px;
  }
}

@media (min-width: @desktop-width) {
  .editor__wrapper--gray {
    width: 800px;
    padding: 57px 60px 57px 80px;
    margin: 0 auto;

    background-color: @color-main--darken;
  }
}