.editor__wrapper--button {
  display: flex;
  flex-direction: column;
  padding-top: 39px;

  //Временно для сетки
  height: 123px;
  background-color: orange;
}

@media (min-width: @desktop-width) {
  .editor__wrapper--button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 53px;
  }
}