.editor__wrapper--gray {
  display: flex;
  flex-direction: column;
  
  width: 280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .editor__wrapper--gray {
    flex-direction: row;
    width: 620px;
    margin: 0 auto;
    padding-top: 57px;
    padding-bottom: 54px;
  }
}