@media (min-width: @tablet-width) {
  .features-list__item {
    margin-bottom: 38px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .features-list__item {
    width: 240px;
    margin-bottom: 0;
  }
}