.features-list__title {
  color: @color-main--black;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .features-list__item {
    margin-bottom: 38px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .features-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }

  .features-list__item {
    width: 240px;
    margin-bottom: 0;
  }

  .features-list__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .features-list__text {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .features-list::before {
    content: "";
    position: absolute;
    background-image: url("../img/iphone.jpg");
    background-repeat: no-repeat;
  }
}
