.feedback__wrapper {
  display: flex;
  flex-direction: column;

  width: 280px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 36px;
}

@media (min-width: @tablet-width) {
  .feedback__wrapper {
    width: 620px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .feedback__wrapper {
    width: 940px;
  margin: 0 auto;

  //Временно для сетки
  min-height: 426px;
  }
}