//Пока не знаю, как делать размеры карты!!!

.feedback__map {
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .feedback__map {
    height: 372px;
  }
}

@media (min-width: @desktop-width) {
  .feedback__map {
    height: 500px;
  }
}