.footer-inner__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 135px;

  //Временно для сетки
  outline: 2px solid blue;
  min-height: 30px;
}

.copyright__text {
  margin: 0;
  padding: 0;

  line-height: 18px;
}

.copyright__logo-image {
  width: 67px;
  height: 40px;
}

