.footer-inner__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 280px;
  padding: 40px 20px;
  margin: 0 auto;

  //Временно для сетки
  outline: 2px solid red;
}

@media (min-width: @tablet-width) {
  .footer-inner__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;

    width: 620px;
    padding: 36px 20px;
  }
}

@media (min-width: @desktop-width) {
  .footer-inner__wrapper {
    width: 940px;
    padding: 70px 130px;
  }
}