.form__group--achievement {
  display: flex;

  //Временно для сетки
  min-height: 604px;
  outline: 2px solid red;

  label {
    font-size: 18px;
    line-height: 30px;

    color: @color-main;
    text-transform: none;
  }
}

@media (min-width: @tablet-width) {
  .form__group--achievement{
    order: 3;
  //Временно для сетки
  min-height: 619px;
  }
}

@media (min-width: @desktop-width) {
  .form__group--achievement {
    order: 3;
    flex-grow: 1;
    width: 940px;

    //Временно для сетки
  min-height: 296px;
  }
}