.form__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 0 20px;
  padding-top: 47px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    width: 620px;
    padding: 0 20px;
    padding-top: 95px;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    width: 940px;
    padding: 96px 130px 0 130px;
  }
}