.form__text {
  margin: 0;

  //Временно для сетки
  outline: 2px solid blue;
  main-height: 160px;
}

@media (min-width: @tablet-width) {
  .form__text {
  //Временно для сетки
  min-height: 150px;
  }
}

@media (min-width: @desktop-width) {
  .form__text {
  //Временно для сетки
  min-height: 200px;
  }
}