.form__group--identification {
  display: flex;
  flex-direction: column;

  padding-top: 4px;
  padding-bottom: 47px;

  p{
    margin-bottom: 21px;
  }

  label {
    margin-bottom: 6px;
  }

  input {
    width: 100%;
    padding: 17px 23px 12px;

    border: 2px solid #eeeeee;
    box-sizing: border-box;
  }
}

@media (min-width: @tablet-width) {
  .form__group--identification {
    order: 0;
  //Временно для сетки
  min-height: 360px;
  }
}

@media (min-width: @desktop-width) {
  .form__group--identification {
    order: 0;
    width: 470px;

    //Временно для сетки
    min-height: 367px;
  }
}

 