.form {
	color: @color-main;
	background-image: linear-gradient(180deg, @color-main--light 0%, @color-main--light 516px, @color-main--darken 516px, @color-main--darken 1137px, @color-main--light 1137px, @color-main--light 1442px, @color-main--darken 1442px, @color-main--darken 1800px, @color-main--light 1800px, @color-main--light 100%);
}

.form__text {
	line-height: 30px;
}

.form__group {
	color: @color-hover;
	text-transform: uppercase;

	label {
	  line-height: 30px;
	}
}

input[placeholder] {
	font-size: 18px;
	line-height: 30px;
	color: @color-main;
}

.form__button {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	color: @color-main--light;
	text-transform: uppercase;
	text-align: center;

	background-color: @button-submit;
}

@media (min-width: @tablet-width) {
	.form {
		background-image: none;
	}
}