.form__button {
  margin: 24px 0 27px 0;
  padding: 15px;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: @color-main--light;
  text-transform: uppercase;
  text-align: center;

  background-color: @button-submit;
  border: none;

  //Временно для сетки
  outline: 2px solid orange;
}