.form__group {
  margin: 0;
  padding: 0;

  color: @color-hover;
  text-transform: uppercase;

  border: none;

  label {
    line-height: 30px;
  }

  p {
    margin: 0;
  }

  input[placeholder] {
    font-size: 18px;
    line-height: 30px;
    color: @color-main;
  }
}



