@color-main--light: #ffffff; // дополнительный цвет(белый)
@color-main: #283645; // основной цвет
@color-hover: #d22856; // Цвет при нажатии (лого)
@button-submit: #2aab6d; // Кнопка отправить форму зеленая

.form {
	color: @color-main;
	background-color: @color-main--light;
}

.form__text {
	line-height: 30px;
}

.form__group {
	color: @color-hover;
	text-transform: uppercase;

	label {
	  line-height: 30px;
	}
}

input[placeholder] {
	font-size: 18px;
	line-height: 30px;
	color: @color-main;
}

.form__button {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	color: @color-main--light;
	text-transform: uppercase;
	text-align: center;

	background-color: @button-submit;
}