@media (min-width: @tablet-width) {
  .form__wrapper--button {
    order: 5;
    
    //Временно для сетки
    min-heidth: 139px;
  }
}

@media (min-width: @desktop-width) {
    .form__wrapper--button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      order: 5;
      flex-grow: 1;

       //Временно для сетки
    min-heidth: 135px;
  }
}