.form__group--contacts {
  //Временно для сетки

  min-height: 287px;
}

@media (min-width: @tablet-width) {
  .form__group--contacts {
    order: 2;
    
  //Временно для сетки
  outline: 2px solid blue;
  min-height: 372px;
  }
}

@media (min-width: @desktop-width) {
  .form__group--contacts {
    order: 2;
    flex-grow: 1;
    width: 940px;

    //Временно для сетки
  outline: 2px solid blue;
  min-height: 225px;
  }
}