.form__group--progress {
	background-color: @color-main--darken;

		legend {
			text-align: center;
		}

		label {
			font-size: 18px;
			line-height: 30px;
			text-transform: none;
			color: @color-main;
		}
}