.form__group--apps {
  //Временно для сетки
  min-height: 340px;
}

@media (min-width: @tablet-width) {
  .form__group--apps {
    order: 1;
    
    //Временно для сетки
    min-height: 365px;
  }
}

@media (min-width: @desktop-width) {
  .form__group--apps {
    order: 1;
    width: 470px;

    //Временно для сетки
    min-height: 367px;
  }
}