.main-menu {
    background-color: @color-main;
  }

.main-menu__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: @tablet-width) {
  .main-menu__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-menu {
    width: 622px;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 33px;

    background-color: rgba(0, 0, 0, 0.3);
  }
}
