.page-header__wrapper {
  display: flex;
  flex-direction: column;

  //Временно для сетки
  outline: 2px solid green;
  background-color: rgba(162, 3, 177, 0.3);

}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
  }
}
