.page-header {  
  background-color: @color-main;  
}

@media (min-width: @desktop-width) {
  .page-header {
    margin: 0;

    //ПОЧЕМУ ФОН НЕ РАБОТАЕТ??????
    background-color: rgba(0, 0, 0, 0.3);
  }
}






