.photo__posts {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}


@media (min-width: @tablet-width) {
  .photo__posts {
    width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .photo__posts {
    width: 1200px;
    margin: 0 auto;
  }
}