.photo__wrapper--description {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 47px;
  padding-bottom: 49px;

  background-color: @color-main--light;
}

@media (min-width: @tablet-width) {
  .photo__wrapper--description {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media (min-width: @desktop-width) {
  .photo__wrapper--description {
    width: 940px;
    margin: 0 auto;
    padding: 0 20px;
  }
}