.price {
	line-height: 30px;
	text-transform: uppercase;
	background-color: @color-main--darken;
}

.price__header {
	color: @color-main--light;	
	background-color: @color-main;
}

.price__title {
	font-size: 18px;
	font-weight: bold;	
}

.price__cost {
	font-size: 24px;
	font-weight: 300;
}