.price {
	line-height: 30px;
	text-transform: uppercase;

  //Временно для сетки
  outline: 2px solid black;
  min-height: 380px;
}

.price__header {
	color: @color-main--light;	
	background-color: @color-main;
}

.price__title {
	font-size: 18px;
	font-weight: bold;	
}

.price__cost {
	font-size: 24px;
	font-weight: 300;
}