.price__wrapper {
  display: flex;
  flex-direction: column;
  
  //Временно для сетки
  outline: 2px solid yellow;
  min-height: 380px;
  background-color: rgba(32, 253, 16, 0.3);
}

@media (min-width: @tablet-width) {
  //Временно для сетки
  min-height: 289px;
}

@media (min-width: @desktop-width) {
  //Временно для сетки
  min-height: 376px;
}