.promo__title {
  margin: 0;
  padding: 0 50px;
  padding-top: 33px;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;

  color: @color-main--light;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .promo__title {
    font-size: 50px;
    line-height: 60px;
  }
}