.promo__wrapper {
  display: flex;
  flex-direction: column;

  

  //Временно для сетки
    outline: 2px solid #ffffff;
  }

@media (min-width: @tablet-width) {
  .promo__wrapper {
  flex-direction: row;
  justify-content: space-between;
  width: 620px;
  margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    width: 940px;
  }
}

