.promo__background {
  margin-top: -65px;
  
  background-color: @color-main--dark;
  background-image:  url("../img/iphone-hand-mobile@1x.png"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 175px, top center;
}

@media (min-width: @tablet-width) {
  .promo__background {
    width: auto;
    margin: 0 auto;
    margin-top: -110px;

    background-image:  url("../img/iphone-hand-tablet.png"),
                    url("../img/back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 74px, top -110px;
  }
}

@media (min-width: @desktop-width) {
  .promo__background {
    background-image:  url("../img/iphone-hand-desktop.png"),
                    url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 160px bottom, top center;
  }
}
