.promo--photo {
  width: 320px;
  height: 226px;
  margin: 0 auto;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -55px;
  background-size: 320px;
}

@media (min-width: @tablet-width) {
  .promo--photo {
    width: 660px;
    height: 254px;
    margin: 0 auto;
    padding-top: 76px;

    background-image: url("../img/back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 -215px;
    background-size: 660px;
  }
}