.promo-form {
  margin: 0 auto;
  padding: 30px 20px 50px 20px;
  width: 280px;
  height: 91px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -56px;
  background-size: 320px;
}

@media (min-width: @tablet-width) {
  .promo-form {
    width: 640px;
    margin: 0 auto;
    padding: 75px 20px;
    height: 180px;

    background-image: url("../img/back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 -115px;
    background-size: 660px;
  }
}

@media (min-width: @desktop-width) {
  .promo-form {
    width: 1200px;
    height: 189px;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 94px;

    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 1200px;
  }
}