.promo--photo {
  width: 320px;
  height: 226px;
  margin: 0 auto;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -55px;
  background-size: 320px;
}