@media (min-width: @tablet-width) {
  .research__description {
    width: 310px;

    color: @color-main;

  //Временно для сетки
    outline: 2px solid red;
    background-color: rgba(0, 225, 0, 0.3);
  }

  .research__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color: @color-main--black;
  }

  .research__link {
    color: @color-hover;

  }
}

@media (min-width: @desktop-width) {
  .research__description {
    width: 570px;

    //Временно для сетки
    min-height: 412px;
  }
}