.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;
    padding: 58px 0;

    background-color: @color-main--light;
  }
}

@media (min-width: @desktop-width) {
  .research {
    background-color: @color-main--darken;
  }
}