@media (min-width: @tablet-width) {
  .research__icon {
    width: 240px;

    background-image: url("../img/24.png");
    background-repeat: no-repeat;
    background-position: 0 100%;

    //Временно для сетки
    outline: 2px solid yellow;
    background-color: rgba(247, 250, 2, 0.3);

  }
}

@media (min-width: @desktop-width) {
  .research__icon {
    width: 300px;

    background-image: url("../img/24-desktop.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
  }
}