@media (min-width: @tablet-width) {
  .research__wrapper {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .research__wrapper {
    width: 940px;
    padding-top: 68px;
  }
}