.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;

    background-color: @color-main--light;

    //Временно для сетки

    outline: 2px solid blue;
    background-color: rgba(234, 34, 25, 0.3);
  }
}

@media (min-width: @desktop-width) {
  .research {
    background-color: @color-main--darken;
  }
}