@media (min-width: @tablet-width) {
  .research__wrapper {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
    
    //Временно для сетки
    outline: 2px solid green;
    background-color: rgba(21, 14, 145, 0.3);
    min-height: 335px;
  }
}

@media (min-width: @desktop-width) {
  .research__wrapper {
    width: 940px;
  }
}