@media (min-width: @tablet-width) {
  .research__icon {
    width: 240px;
    height: 278px;

    background-image: url("../img/24.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
  }
}

@media (min-width: @desktop-width) {
  .research__icon {
    width: 300px;
    height: 345px;

    background-image: url("../img/24-desktop.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
  }
}