.reviews {
  padding-top: 42px;
  padding-bottom: 115px;
  color: @color-main;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.reviews__list {
  padding-bottom: 16px;
}

.reviews__item {
  margin: 0;
  text-align: center;
}

.reviews__author-name {
  display: block;
  margin-bottom: 18px;
  color: @color-main--black;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
}

.reviews__author-description {
  display: none;
}

.reviews__text {
  margin: 0;
  line-height: 30px;
}

.reviews__toggles {
  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 620px;
    margin: 0 auto;
  }

  .reviews__wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author-name {
    margin: 0;
    margin-bottom: 4px;
  }

  .reviews__author-description {
    display: block;
    margin: 0;
  }

  .reviews__text {
    margin: 0;
    margin-bottom: 34px;
    order: -1;
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .reviews  {
    width: 940px;
    padding-top: 73px;
    padding-bottom: 42px;
    margin-bottom: 150px;
  }

  .reviews__wrapper {
    width: 940px;
  }

  .reviews__text {
    padding: 0 120px;
    margin-bottom: 41px;
  }

  .reviews__toggles {
    display: none;
  }
}
