.reviews {
  
	color: @color-main;

  //Временно для сетки
  outline: 2px solid red;
  min-height: 443px;
}

.reviews__author-name {
	color: @color-main--black;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	line-height: 30px;
}

.reviews__text {
	line-height: 30px;
}