.reviews {
  padding-top: 42px;
  padding-bottom: 115px;
  color: @color-main;
}

@media (min-width: @desktop-width) {
  .reviews  {
    padding-top: 73px;
    padding-bottom: 42px;
    margin-bottom: 150px;
  }
}