.reviews__text {
  margin: 0;

  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .reviews__text {
    margin: 0;
    margin-bottom: 34px;
    order: -1;

    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__text {
    padding: 0 120px;
    margin-bottom: 41px;
  }
}