@color-main--light: #ffffff; // дополнительный цвет(белый)

.site-list__item a {
	color: @color-main--light;

	font-size: 18px;
	font-weight: bold;
	line-height: 32px;
	text-transform: uppercase;
	text-decoration: none;
}