@media (min-width: @tablet-width) {
  .user__wrapper-text--big {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
  }
}

@media (min-width: @desktop-width) {
  .user__wrapper-text--big {
    padding: 28px 31px 22px 27px;
  }
}