.user__author {
	font-weight: bold;
	font-style: normal;
}

.user__time {
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
}

.user__like {
	color: @color-hover;
	font-size: 12px;
	text-transform: uppercase;
}