@media (min-width: @tablet-width) {
  .user__wrapper--big {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .user__wrapper--big {
    width: 940px;
    margin: 0 auto;
  }
}