.user__wrapper {
  width: 280px;
  margin: 0 auto;

  color: @color-main--dark;

  background-color: @color-main--darken;
}

@media (min-width: @tablet-width) {
  .user__wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0;
  }
}