body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  color: @color-main;
}

//Временно для сетки фоны

.page-inner {
  //Временно для сеток
  background: url("../img/pink-form-mobile.jpg") no-repeat 50% 0;
  background-size: 320px auto;
  min-height: 3020px;
}

@media (min-width: @tablet-width) {
  .page-inner {
    background: url("../img/pink-form-tablet.jpg") no-repeat 50% 0;
    background-size: 620px auto;
    min-height: 3630px;
  }
}

@media (min-width: @desktop-width) {
  .page-inner  {
    background: url("../img/pink-form-desktop.jpg") no-repeat 50% 0;
    background-size: 1200px auto;
    min-height: 4215px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

