@color-main: #283645; // основной цвет
@color-main--dark: #1d2631; //основной цвет темнее
@color-main--darken: #f2f2f2; // дополнительный цвет (серый)
@color-main--light: #ffffff;  // дополнительный цвет(белый)
@color-main--lighten: rgba(40, 54, 69, 0.1); // основной цвет непрозрачность 0.1
@color-main--black: #000000; //дополнительный цвет (черный)

@color-hover: #d22856; // Цвет при нажатии (лого)

@button-submit: #2aab6d; // Кнопка отправить форму зеленая

@tablet-width: 660px;
@desktop: 1200px;

