.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;
    padding: 58px 0;

    background-color: @color-main--light;
  }

  .research__wrapper {
    position: relative;
    width: 606px;
    margin: 0 auto;
  }

  .research__icon {
    position: absolute;
    top: 1px;
    left: -6px;

    width: 240px;
    height: 278px;
  }

  .research__description {
    width: 310px;
    padding-top: 40px;
    padding-bottom: 28px;
    padding-left: 303px;

    color: @color-main;
  }

  .research__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color: @color-main--black;
  }

  .research__title--short {
    padding-right: 150px;
  }

  .research__text {
    margin: 0;
    margin-bottom: 10px;
    padding-right: 15px;
  }

  .research__link {
    color: @color-hover;
  }
}

@media (min-width: @desktop-width) {
  .research {
    background-color: @color-main--darken;
    padding: 54px 0;
    padding-bottom: 85px;
  }

  .research__wrapper {
    width: 925px;
    padding-top: 50px;
  }

  .research__icon {
    width: 300px;
    height: 345px;

    background-image: url("../img/24-desktop.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
  }

  .research__description {
    width: 570px;
    padding-left: 370px;
  }

  .research__title {
    margin-bottom: 22px;
  }

  .research__text {
    padding-right: 45px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }

  .research__title--short {
    padding-right: 0;
  }

  .research__link {
    font-size: 18px;
    line-height: 30px;
  }
}
