.table-wrapper {
  position: relative;

  width: 320px;
  margin: 0 auto;

  margin: 0;
  padding: 0;
  padding-bottom: 99px;

  list-style: none;

  overflow: hidden;
  text-align: center;
}

.table {
  width: 1096px;
  box-sizing: border-box;
  border-collapse: collapse;

  transform: translateX(-250px);
}

.table th {
  padding: 19px;
  line-height: 30px;

  color: @color-main--light;

  text-align: center;
  text-transform: uppercase;

  background-color: @color-main;
  border-top: 2px solid @color-main;
  border-bottom: 2px solid @color-main;
  border-left: 2px solid #eeeeee;
  border-right: 2px solid #eeeeee;
}

.table__title--hit {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: -21px;
    left: -21px;

    width: 73px;
    height: 73px;

    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
  }

  &::after {
    content: "хит";

    position: absolute;

    top: -5px;
    left: -12px;

    font-size: 14px;
    font-weight: normal;
    line-height: 30px;

    text-transform: normal;

    transform: rotate(-45deg);
  }
}

.table span {
  display: block;
}

.table__title {
  margin-bottom: 3px;

  font-size: 18px;
  font-weight: bold;
}

.table__cost {
  font-size: 24px;
  font-weight: 300;
}

.table__value {
  width: 276px;

  padding: 16px 47px 15px 22px;
  font-size: 14px;
  line-height: 30px;

  text-align: left;
  text-transform: uppercase;

  background-color: @color-main--light;

  border: 2px solid #eeeeee;
}

.table__controls {
  position: absolute;
  bottom: 47px;
  left: 50%;

  margin-left: -28px;
  display: flex;
  justify-content: space-between;
  width: 56px;

  label {
    width: 6px;
    height: 6px;

    background-color: #bec2c7;
    border-radius: 50%;
    border: 2px solid #f2f2f2;

    &:hover,
    &:focus {
      background-color: #868d96;
    }

    &:active {
      background-color: #e9ebec;
    }
  }
}

#toggle-1:checked ~ .table__controls label[for="toggle-1"],
#toggle-2:checked ~ .table__controls label[for="toggle-2"],
#toggle-3:checked ~ .table__controls label[for="toggle-3"] {
  background-color: transparent;
  border: 2px solid @color-main;
}

#toggle-1:checked ~ .table {
  transform: translateX(-500px);
}

#toggle-2:checked .table {
  transform: translateX(-250px);
}

#toggle-3:checked .table {
  transform: translateX(0);
}