.logo {
  width: 75px;
  height: 22px;
  margin: 22px 0 25px 20px;
}

.logo__link--tablet {
  display: none;
}

.logo__link--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .logo {
    width: 147px;
    height: 40px;
    margin: 27px 0 42px 20px;
  }

  .logo__link--mobile {
    display: none;
  }

  .logo__link--tablet {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .logo {
    width: 147px;
    height: 40px;
    margin: 0;
  }

  .logo__link--desktop {
    display: block;
  }

  .logo__link--tablet {
    display: none;
  }
}