.page-header {
  position: relative;
}

.page-header__logo {
  display: block;
  position: absolute;
  top: 21px;
  left: 20px;

  width: 75px;
  height: 22px;

  background-image: url("../img/logo-mobile.svg");
  background-repeat: no-repeat;

  z-index: 3;

  &:hover {
    background-image: url("../img/logo-mobile-hover.svg");
  }

  &:active {
    background-image: url("../img/logo-mobile.svg");
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    top: 29px;
    left: 3%;

    width: 147px;
    height: 40px;

    background-image: url("../img/logo-tablet.svg");
    background-repeat: no-repeat;

    &:hover {
      background-image: url("../img/logo-tablet-hover.svg");
      background-repeat: no-repeat;
    }

    &:active {
      background-image: url("../img/logo-tablet.svg");
      background-repeat: no-repeat;
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    top: 27px;
    left: 11%;

    margin-left: 0;

    background-image: url("../img/logo-pink-white-desktop.svg");
    background-repeat: no-repeat;

    &:hover {
      background-image: url("../img/logo-desctop-hover.svg");
      background-repeat: no-repeat;
    }

    &:active {
      background-image: url("../img/logo-pink-white-desktop.svg");
      background-repeat: no-repeat;

      opacity: 0.3;
    }
  }
}
