.page-header__logo-image--mobile {
  position: absolute;
  top: 21px;
  left: 20px;

  width: 75px;
  height: 22px;

  z-index: 4;


  &:hover path {
    fill: @color-hover;
  }

  &:active path {
    fill: @color-hover;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-header__logo-image--mobile {
    display: none;
  }

  .page-header__logo-image--tablet {
    position: absolute;
    top: 29px;
    left: 3%;

    width: 147px;
    height: 40px;

    z-index: 4;

    &:hover path {
      fill: @color-hover;
    }

    &:active path {
      fill: @color-hover;
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-image--tablet {
    display: none;
  }

  .page-header__logo-image--desktop {
    position: absolute;
    top: 27px;
    left: 11%;

    margin-left: 0;

    &:hover path {
      fill: @color-hover;
    }

    &:active path {
      fill: @color-hover;
      opacity: 0.3;
    }
  }
}
