.editor__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 24px 20px;
  margin-bottom: 17px;

  background-color: @color-main--light;
}

.editor__text {
  margin: 0;
  padding: 0 12px;
  line-height: 30px;
  text-align: center;
}

.editor__wrapper--bg {
  background-color: @color-main--darken;
}

.editor__wrapper--gray {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.editor__picture {
  width: 280px;
  margin: 0 auto;
}

.editor__images {
  display: block;
}

.editor__wrapper--column {
  display: flex;
  flex-direction: column;
}

.editor__wrapper--list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding: 42px 20px 34px 20px;

  border-bottom: 1px solid #ebecec;
}

.editor__list {
  display: flex;
  align-items: center;
  width: 223px;

  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  list-style: none;
}

.editor__button-icon {
  border: none;
  background-color: transparent;
}

.editor__button-icon svg {
  fill: rgba(40, 54, 69, 0.3);

  &:hover {
    fill: rgba(40, 54, 69, 0.5);
  }

  &:active {
    fill: @color-hover;
  }
}

.editor__button-icon--active svg {
  fill: @color-hover;
}

.editor__button--crop {
  margin-right: 19px;
}

.editor__button--fill {
  margin-right: 29px;
}

.range__controls {
  position: relative;
}

.range__scale {
  width: 240px;
  height: 2px;

  background-color: @color-main;
}

.range__bar {
  width: 193px;
  height: 2px;

  background-color: @color-main;
}

.range__toggle {
  position: absolute;
  top: -6px;
  right: 33px;

  width: 12px;
  height: 12px;

  background-color: @color-main--light;

  border: 2px solid @color-hover;
  border-radius: 50%;
}

.range {
  display: none;
}

.range--main {
  display: block;
}

.editor__wrapper--button {
  display: flex;
  flex-direction: column;

  width: 280px;
  margin: 0 auto;
  padding-top: 39px;
}

.editor__button {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  border: none;
  border-width: 3px;
  border-style: solid;
  border-radius: 30px;
}

.editor__button--post {
  margin-bottom: 12px;
  color: @color-hover;

  &:hover,
  &:focus {
    color: @color-main--light;

    background-color: @color-hover;
    border-color: @color-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: @color-hover;
    border-color: @color-hover;
  }
}

.editor__button--reset {
  color: @color-main--lighten;

  &:hover,
  &:focus {
    color: rgba(40, 54, 69, 0.3);

    border-color: rgba(40, 54, 69, 0.3);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #6b757f;
    border-color: #6b757f;
  }
}

@media (min-width: @tablet-width) {
  .editor__wrapper--gray {
    width: 620px;
    flex-direction: row;
    justify-content: space-between;
    padding: 57px 20px 54px 20px;
  }

  .editor__wrapper {
    width: 620px;
    padding-top: 44px;
    margin-bottom: 44px;
  }

  .editor__text {
    font-size: 18px;
  }

  .editor__picture {
    width: 300px;
    margin: 0;
  }

  .editor__wrapper--column {
    width: 275px;
  }

  .editor__wrapper--list {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .range {
    display: block;
    width: 202px;
    margin-right: 18px;
  }

  .range__scale {
    width: 202px;
  }

  .range--crop {
    margin-top: 20px;
  }

  .range--fill {
    margin-top: 36px;
  }

  .range--bright {
    margin-top: 33px;
  }

  .range--crop .range__bar {
    width: 146px;
  }

  .range--crop .range__toggle {
    right: 41px;
  }

  .range--fill .range__bar {
    width: 25px;
  }

  .range--fill .range__toggle {
    left: 25px;
  }

  .range--bright .range__bar {
    width: 96px;
  }

  .range--bright .range__toggle {
    left: 96px;
  }

  .range--main {
    display: none;
  }

  .editor__list {
    flex-direction: column;
    margin: 0;
    margin-bottom: 66px;
    width: 100%;
  }

  .editor__item {
    display: flex;
    justify-content: space-between;
    width: 100%;

    border-bottom: 1px solid #ebecec;
  }

  .editor__button--crop svg {
    width: 22px;
    height: 22px;
    margin-top: 9px;
    margin-bottom: 20px;
  }

  .editor__button--fill {
    margin-right: 18px;
  }

  .editor__button--fill svg {
    width: 24px;
    height: 22px;
    margin-top: 27px;
    margin-bottom: 18px;
  }

  .editor__button--bright svg {
    width: 16px;
    height: 16px;
    margin-top: 26px;
    margin-bottom: 22px;
  }

  .editor__wrapper--button {
    padding: 0;
    margin-right: 13px;
  }

  .editor__button {
    width: 260px;
  }

  .editor__button--post {
    margin-bottom: 26px;
  }
}

@media (min-width: @desktop-width) {
  .editor__wrapper {
    padding-top: 3px;
    margin-bottom: 42px;
  }

  .editor__wrapper--gray {
    width: 800px;
    padding: 57px 25px 57px 60px;
  }

  .editor__wrapper--column {
    width: 410px;
  }

  .editor__list {
    margin-bottom: 145px;
  }

  .editor__wrapper--button {
    width: 410px;
    margin: 0;
    flex-direction: row;
  }

  .editor__button {
    width: 183px;
  }

  .editor__button--post {
    margin: 0;
  }

  .editor__button--reset {
    margin-left: auto;
  }

  .editor__button--crop svg {
    width: 44px;
    height: 44px;
    margin-top: 0;
    margin-bottom: 6px;
  }

  .editor__button--fill svg {
    width: 48px;
    height: 43px;
    margin-top: 15px;
    margin-bottom: 9px;
  }

  .editor__button--bright svg {
    width: 32px;
    height: 32px;
    margin-top: 18px;
    margin-bottom: 14px;
    margin-left: 6px;
  }

  .range {
    width: 288px;
    margin-right: 30px;
  }

  .range__scale {
    width: 288px;
  }

  .range--crop .range__bar {
    width: 71px;
  }

  .range--crop .range__toggle {
    left: 71px;
  }

  .range--fill .range__bar {
    width: 247px;
  }

  .range--fill .range__toggle {
    left: 247px;
  }

  .range--bright .range__bar {
    width: 160px;
  }

  .range--bright .range__toggle {
    left: 160px;
  }
}
