.user__post {
  margin: 0;
  display: flex;
  flex-grow: 1;
}

.user__post--big {
  flex-direction: column;
}

.user__images--panorama {
  display: block;
}

.user__items--big {
  position: relative;

  margin-bottom: 20px;

  &::after {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 20px;

    width: 140px;

    padding: 6px 0;

    color: @color-main--light;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;

    text-transform: uppercase;
    text-align: center;

    background-color: @color-hover;
  }
}

.user__wrapper {
  width: 280px;
  margin: 0 auto;

  color: @color-main--dark;

  background-color: @color-main--darken;
}

.user__wrapper-text--big {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  padding: 20px 18px 19px 18px;
}

.user__wrapper-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 18px 18px 19px 18px;
}

.user__author {
  font-weight: bold;
  font-style: normal;
}

.user__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.user__text {
  margin: 0;
  margin-bottom: 10px;
}

.user__like {
  position: relative;

  padding-left: 32px;
  margin: 0;
  margin-top: auto;

  font-size: 12px;
  color: @color-hover;
  text-transform: uppercase;

  &::after {
    content: "";

    position: absolute;

    top: 5px;
    left: 0;

    width: 13px;
    height: 12px;

    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
  }
}

.user__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user__item {
  margin-bottom: 20px;
}

.user__picture img {
  display: block;
}

@media (min-width: @tablet-width) {
  .user__items--big {
    margin-bottom: 50px;

    &::after {
      top: 57px;
    }
  }

  .user__images--panorama {
    height: 509px;
  }

  .user__wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0;
  }

  .user__wrapper--big {
    width: 620px;
    margin: 0 auto;
  }

  .user__wrapper-text--big {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;

    padding: 25px 20px 13px 20px;
  }

  .user__author--big {
    margin-right: 4px;
    padding-left: 7px;
    width: 270px;
  }

  .user__author {
    padding-left: 7px;
  }

  .user__like::after {
    left: 235px;
  }

  .user__text--big {
    order: 2;
    padding-left: 7px;
  }

  .user__text {
    padding-left: 8px;
  }

  .user__like {
    padding: 0;
    padding-left: 8px;
    padding-right: 42px;
    margin-bottom: 3px;
  }

  .user__like--big::after {
    left: 114px;
  }

  .user__list {
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }

  .user__item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 20px;

    background-color: @color-main--darken;
  }

  .user__wrapper-text--short {
    min-height: 111px;
    padding: 24px 18px 20px 20px;
  }

  .user__link {
    display: block;
  }

  .user__link img {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .user__items--big::after {
    top: 54px;
    right: 130px;
  }

  .user__wrapper--big {
    width: 940px;
    margin: 0 auto;
  }

  .user__wrapper-text--big {
    padding: 23px 22px 11px 20px;
  }

  .user__list {
    width: 940px;
  }

  .user__item {
    margin-bottom: 55px;
  }
}
