.download-app {
  color: @color-main--light;
}

.download-app__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 280px;
  padding: 28px 20px;
  margin: 0 auto;
  margin-top: 400px;
}

.download-app__slogan {
  display: none;
}

.download-app__link {
  display: block;
  width: 100%;
}

.download-app__button {
  width: 100%;

  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 32px;

  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  color: @color-main--light;
  text-align: center;

  background-color: transparent;
  border: 3px solid @color-main--light;
  border-radius: 30px;

  cursor: pointer;

  &:hover,
  &:focus {
    color: @color-hover;

    background-color: @color-main--light;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: @color-main--light;
  }
}

.download-app__text {
  margin: 0;

  font-weight: light;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .download-app {
    width: 300px;
  }

  .download-app__wrapper {
    width: 300px;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
  }

  .download-app__slogan {
    display: block;
    margin: 0;
    margin-bottom: 35px;
    padding: 0 50px;
    font-size: 40px;
    font-weight: light;
    line-height: 48px;
    text-align: center;
  }

  .download-app__button {
    width: 300px;
  }

  .download-app__text {
    margin-bottom: 111px;
  }
}

@media (min-width: @desktop-width) {
  .download-app__button {
    margin-bottom: 67px;
  }

  .download-app__text {
    margin-bottom: 119px;
  }
}
